//common
@import "common/common.scss";

page{
    position:relative;
    overflow:hidden;
}

/*container*/
.container{
    box-sizing:border-box;
    height:100%;
    padding-bottom:84rpx;
    overflow:auto;
}
/*banner*/
.banner{
    position:relative;
    overflow: hidden;
}
.scroll-view_H{
    white-space: nowrap;
}
.banner swiper{
    height:360rpx;
}
.banner image{
    width:100%;
    height:360rpx;
}
.bannerBtn{ position:absolute; left:0;width:100%;height:24rpx; bottom:18rpx; text-align:center;font-size:0;}
.bannerBtn navigator{ display:inline-block;width:24rpx;height:24rpx; margin:0 10rpx;background:rgba(255,255,255,0.8); border-radius:12rpx;}
.bannerBtn navigator.active{ background:#dc3839;}
